Repository ziglang/zig, pull requests merged in 2021-07, with the labels that each got.

#9178 Add support for WASI reactor in pure Zig-exe.
  lib/std/builtin.zig
  lib/std/start.zig
  src/Compilation.zig
  src/link.zig
  src/link/Wasm.zig
  src/main.zig
  src/wasi_libc.zig
Labels: arch-wasm32, os-wasi

#9175 std.Thread enhancements
  doc/langref.html.in
  lib/std/Thread.zig
  lib/std/Thread/AutoResetEvent.zig
  lib/std/Thread/Futex.zig
  lib/std/Thread/Mutex.zig
  lib/std/Thread/ResetEvent.zig
  lib/std/Thread/StaticResetEvent.zig
  lib/std/atomic/queue.zig
  lib/std/atomic/stack.zig
  lib/std/c.zig
  lib/std/debug.zig
  lib/std/event/loop.zig
  lib/std/fs/test.zig
  lib/std/net/test.zig
  lib/std/once.zig
  lib/std/os/test.zig
  lib/std/target.zig
  src/ThreadPool.zig
  tools/update_cpu_features.zig
Labels: breaking, standard library

#8494 Wrapping add/sub for the C backend
  src/codegen/c.zig
  src/link/C/zig.h
  test/stage2/cbe.zig
Labels: backend-c, stage2

#9301 Switch rand.DefaultPrng to Xoshiro256++
  lib/std/rand.zig
Labels: breaking, standard library

#9105 stage2: bringup plan9 target and linker
  CMakeLists.txt
  lib/std/start.zig
  lib/std/target.zig
  lib/std/zig.zig
  lib/std/zig/cross_target.zig
  src/Compilation.zig
  src/Module.zig
  src/codegen.zig
  src/codegen/llvm.zig
  src/link.zig
  src/link/Plan9.zig
  src/link/Plan9/aout.zig
  src/target.zig
  src/type.zig
Labels: stage2

#9344 Fix argument forwarding to LLVM on Windows
  src/zig_clang_driver.cpp
  src/zig_llvm-ar.cpp
Labels: os-windows

#9335 Add waitid syscall on linux
  lib/std/os/bits/linux.zig
  lib/std/os/linux.zig
Labels: os-linux, standard library

#9400 stage1: Fix OsOther by adding missing OsPlan9
  src/stage1/stage1.h
  src/stage1/target.cpp
Labels: bug, os-bring-your-own, os-plan9, stage1

#9324 translate-c: Handle underscore when used as an identifier
  lib/std/zig/fmt.zig
  src/stage1/astgen.cpp
  src/translate_c.zig
  test/run_translated_c.zig
  test/translate_c.zig
Labels: translate-c

#9265 translate-c: add framework for special-casing macros
  lib/std/zig/c_translation.zig
  src/translate_c.zig
  src/translate_c/ast.zig
  test/translate_c.zig
Labels: translate-c

#9387 macho+zld: bringing zld to stage2 MachO backend - simplicity is key!
  CMakeLists.txt
  src/Compilation.zig
  src/codegen.zig
  src/link.zig
  src/link/MachO.zig
  src/link/MachO/Archive.zig
  src/link/MachO/DebugSymbols.zig
  src/link/MachO/Dylib.zig
  src/link/MachO/Object.zig
  src/link/MachO/Symbol.zig
  src/link/MachO/TextBlock.zig
  src/link/MachO/Zld.zig
  src/link/MachO/commands.zig
  src/link/MachO/reloc.zig
  src/link/MachO/reloc/aarch64.zig
  src/link/MachO/reloc/x86_64.zig
  src/main.zig
Labels: os-macos, zig ld

#9279 Wasm,libc: fix wasm-ld failure in matching libc symbols.
  src/stage1/codegen.cpp
Labels: arch-wasm32, stage1

#8513 Add option to hide build command on compilation error to build_runner
  lib/std/build.zig
  lib/std/build/RunStep.zig
  lib/std/special/build_runner.zig
  src/main.zig
Labels: zig build system

#8589 translate-c: handle negative array indices
  src/translate_c.zig
  test/run_translated_c.zig
Labels: translate-c

#8632 std/ArrayList: Allow `ArrayList(u0)` to be created
  lib/std/array_list.zig
Labels: standard library

#9363 stage1: fix anon struct naming in certain cases
  src/stage1/astgen.cpp
  src/stage1/astgen.hpp
  src/stage1/ir.cpp
  test/behavior/misc.zig
  test/behavior/typename.zig
Labels: stage1

#8570 add Thread.setName and Thread.getName
  lib/std/Thread.zig
  lib/std/c/darwin.zig
  lib/std/c/freebsd.zig
  lib/std/c/linux.zig
  lib/std/c/netbsd.zig
  lib/std/c/openbsd.zig
  lib/std/os/windows.zig
  lib/std/os/windows/kernel32.zig
Labels: standard library
