Repository ziglang/zig, pull requests merged in 2021-11, with the labels that each got.

#10125 macho: use start.zig for macOS entrypoint
  src/arch/aarch64/CodeGen.zig
  src/arch/aarch64/bits.zig
  src/arch/x86_64/CodeGen.zig
  src/link/MachO.zig
  test/stage2/darwin.zig
Labels: os-macos, stage2, arch-x86_64, arch-arm64, backend-self-hosted

#9935 add plan9 support to std
  lib/std/os.zig
  lib/std/os/plan9.zig
  lib/std/os/plan9/x86_64.zig
  src/Sema.zig
  src/arch/x86_64/CodeGen.zig
  test/stage2/plan9.zig
Labels: standard library, stage2, os-plan9

#8979 Json Stringify option to not write out null optional fields
  lib/std/json.zig
Labels: standard library

#9744 Fix type error for u8 in writeIntSlice
  lib/std/mem.zig
Labels: standard library

#10195 feat(uefi): add virtual addressing helpers
  lib/std/os/uefi/tables/runtime_services.zig
Labels: os-uefi
