Repository ziglang/zig, pull requests merged in 2021-06, with the labels that each got.

#8917 stage1, stage2: disallow 1.e9 and 0x1.p9 as float literals
  lib/std/fmt.zig
  lib/std/special/compiler_rt/fixunstfdi_test.zig
  lib/std/special/compiler_rt/fixunstfsi_test.zig
  lib/std/special/compiler_rt/fixunstfti_test.zig
  lib/std/special/compiler_rt/mulXf3_test.zig
  lib/std/zig/parser_test.zig
  lib/std/zig/tokenizer.zig
  src/stage1/tokenizer.cpp
  src/translate_c.zig
  test/translate_c.zig
Labels: breaking

#8950 Translate-c: support designated initializers in macros
  src/translate_c.zig
  src/translate_c/ast.zig
  test/translate_c.zig
Labels: translate-c

#8975 Breaking hash map changes for 0.8.0
  doc/docgen.zig
  lib/std/array_hash_map.zig
  lib/std/buf_map.zig
  lib/std/buf_set.zig
  lib/std/build.zig
  lib/std/build/run.zig
  lib/std/child_process.zig
  lib/std/fs/watch.zig
  lib/std/hash_map.zig
  lib/std/heap/general_purpose_allocator.zig
  lib/std/json.zig
  lib/std/math.zig
  lib/std/multi_array_list.zig
  lib/std/process.zig
  src/AstGen.zig
  src/Cache.zig
  src/Compilation.zig
  src/Module.zig
  src/Package.zig
  src/Sema.zig
  src/air.zig
  src/codegen.zig
  src/codegen/c.zig
  src/codegen/llvm.zig
  src/codegen/spirv.zig
  src/codegen/wasm.zig
  src/libc_installation.zig
  src/link.zig
  src/link/C.zig
  src/link/Coff.zig
  src/link/Elf.zig
  src/link/MachO.zig
  src/link/MachO/Archive.zig
  src/link/MachO/DebugSymbols.zig
  src/link/MachO/Dylib.zig
  src/link/MachO/Zld.zig
  src/link/SpirV.zig
  src/link/Wasm.zig
  src/liveness.zig
  src/main.zig
  src/musl.zig
  src/translate_c.zig
  src/type.zig
  src/value.zig
  test/behavior/union.zig
  tools/process_headers.zig
  tools/update_clang_options.zig
  tools/update_cpu_features.zig
  tools/update_glibc.zig
Labels: breaking, standard library

#8977 std.crypto: timing-safe functions to add&subtract serialized integers
  lib/std/crypto/utils.zig
Labels: standard library

#9011 stage1: Allow array-like initialization for tuple types
  src/stage1/ir.cpp
  test/behavior/tuple.zig
Labels: stage1

#9031 wasi: always grant fd_readdir right
  ci/azure/linux_script
  lib/std/fs.zig
  test/stage2/wasm.zig
Labels: arch-wasm32, os-wasi, standard library

#8992 cc,wasi: include emulated libs in WASI libc and refactor WASI libc handling
  src/Compilation.zig
  src/link.zig
  src/link/Wasm.zig
  src/main.zig
  src/wasi_libc.zig
Labels: arch-wasm32, enhancement, os-wasi, zig cc

#8584 Provide method to set logging level per scope
  lib/std/log.zig
  test/compare_output.zig
Labels: standard library

#8756 Let GeneralPurposeAllocator retain metadata to report more double frees
  lib/std/heap/general_purpose_allocator.zig
Labels: standard library

#9057 link: don't link system libs by the wasm linker
  src/link/Wasm.zig
Labels: arch-wasm32

#8485 Have std.fmt functions take case as an enum
  lib/std/fmt.zig
  lib/std/math/big/int.zig
  lib/std/math/big/int_test.zig
  lib/std/zig/fmt.zig
  src/Compilation.zig
  src/DepTokenizer.zig
  src/Zir.zig
  src/translate_c.zig
  test/behavior/enum_with_members.zig
Labels: breaking, standard library

#9064 stage1: Fix handling of C ABI parameters split in multiple regs
  src/stage1/codegen.cpp
  test/stage1/c_abi/cfuncs.c
  test/stage1/c_abi/main.zig
Labels: stage1

#9069 zig ld: add common (tentative) symbols support
  src/link/MachO/Object.zig
  src/link/MachO/Symbol.zig
  src/link/MachO/Zld.zig
  test/standalone.zig
  test/standalone/link_common_symbols/a.c
  test/standalone/link_common_symbols/b.c
  test/standalone/link_common_symbols/build.zig
  test/standalone/link_common_symbols/main.zig
Labels: os-macos, zig ld

#8801 std.os.windows: implement <timeapi.h>
  lib/std/os/windows.zig
  lib/std/os/windows/winmm.zig
Labels: os-windows, standard library

#7959 Make build.zig ready for generated files
  build.zig
  lib/std/build.zig
  lib/std/build/CheckFileStep.zig
  lib/std/build/FmtStep.zig
  lib/std/build/InstallRawStep.zig
  lib/std/build/RunStep.zig
  lib/std/build/TranslateCStep.zig
  lib/std/build/WriteFileStep.zig
  lib/std/build/check_file.zig
  lib/std/build/fmt.zig
  lib/std/build/run.zig
  lib/std/build/translate_c.zig
  lib/std/build/write_file.zig
  lib/std/special/build_runner.zig
  test/src/compare_output.zig
  test/src/run_translated_c.zig
  test/src/translate_c.zig
  test/standalone/issue_8550/build.zig
  test/tests.zig
Labels: breaking, zig build system

#8891 translate-c: Implement flexible arrays
  lib/std/meta.zig
  src/clang.zig
  src/translate_c.zig
  src/translate_c/ast.zig
  src/zig_clang.cpp
  src/zig_clang.h
  test/run_translated_c.zig
  test/translate_c.zig
Labels: translate-c

#8394 translate-c: fix enums that require c_uint type
  src/translate_c.zig
  test/run_translated_c.zig
  test/translate_c.zig
Labels: translate-c

#9086 zig ld: act as linker for golang
  src/link/MachO.zig
  src/link/MachO/Zld.zig
Labels: os-macos, zig ld

#9041 translate-c: better support for static local variables
  src/clang.zig
  src/translate_c.zig
  src/translate_c/ast.zig
  src/zig_clang.cpp
  src/zig_clang.h
  test/run_translated_c.zig
  test/translate_c.zig
Labels: translate-c

#8356 Child Process Exit Code
  lib/std/child_process.zig
  lib/std/os/bits/darwin.zig
  lib/std/os/bits/dragonfly.zig
  lib/std/os/bits/freebsd.zig
  lib/std/os/bits/haiku.zig
  lib/std/os/bits/linux.zig
  lib/std/os/bits/netbsd.zig
  lib/std/os/bits/openbsd.zig
Labels: standard library

#9100 Translate-c: don't bother with unwrapping pointers
  src/translate_c.zig
  src/translate_c/ast.zig
  test/run_translated_c.zig
  test/translate_c.zig
Labels: translate-c

#9092 translate-c: improve type parsing
  lib/std/meta.zig
  src/translate_c.zig
  test/behavior/translate_c_macros.h
  test/behavior/translate_c_macros.zig
  test/translate_c.zig
Labels: translate-c

#9020 specify the output lib, exe and include paths with flags
  lib/std/build.zig
  lib/std/special/build_runner.zig
Labels: zig build system

#9118 zld: handle __gcc_except_tab and __eh_frame, and streamline section mapping
  src/link/MachO/Object.zig
  src/link/MachO/Zld.zig
  src/link/MachO/reloc.zig
  src/link/MachO/reloc/aarch64.zig
  src/link/MachO/reloc/x86_64.zig
Labels: os-macos, zig ld

#9091 Translate-c: move utility functions to a separate namespace
  lib/std/c.zig
  lib/std/crypto/pcurves/p256/p256_64.zig
  lib/std/crypto/pcurves/p256/p256_scalar_64.zig
  lib/std/meta.zig
  lib/std/zig.zig
  lib/std/zig/c_builtins.zig
  lib/std/zig/c_translation.zig
  src/translate_c.zig
  src/translate_c/ast.zig
  test/translate_c.zig
Labels: translate-c

#9097 zig build: add --libc general option
  lib/std/build.zig
  lib/std/special/build_runner.zig
Labels: zig build system

#9122 zld: clean up stubs resolution, error messages and use ld64 defaults for system libs resolution
  src/link/MachO.zig
  src/link/MachO/Zld.zig
Labels: os-macos, zig ld

#9103 zig cc improvements
  src/main.zig
Labels: stage2

#9151 macho: LC_RPATH: reserve byte for null-terminator
  src/link/MachO/Zld.zig
Labels: os-macos

#8636 Change builtins to return a string literal
  doc/langref.html.in
  src/stage1/analyze.cpp
  src/stage1/analyze.hpp
  src/stage1/codegen.cpp
  src/stage1/ir.cpp
  test/behavior.zig
  test/behavior/bugs/3779.zig
  test/behavior/bugs/3779_file_to_embed.txt
Labels: stage1

#8717 Dwarf on windows
  lib/std/Progress.zig
  lib/std/coff.zig
  lib/std/debug.zig
  lib/std/dwarf.zig
Labels: standard library

#9198 docs: top level global assembly -> container level
  doc/langref.html.in
Labels: docs

#8381 Docs clarification: local static variable
  doc/langref.html.in
Labels: docs

#9191 run AstGen even when using the stage1 backend
  CMakeLists.txt
  ci/azure/linux_script
  doc/langref.html.in
  src/AstGen.zig
  src/Compilation.zig
  src/Module.zig
  src/codegen/x86_64.zig
  src/translate_c.zig
  test/cli.zig
  test/compare_output.zig
  test/runtime_safety.zig
  test/translate_c.zig
Labels: breaking

#9171 zld: add TAPI parser for linkers, ship libSystem.B.tbd with Zig, and parse tbd stubs on macOS
  CMakeLists.txt
  lib/libc/darwin/libSystem.B.tbd
  src/link/MachO.zig
  src/link/MachO/Archive.zig
  src/link/MachO/Dylib.zig
  src/link/MachO/Object.zig
  src/link/MachO/Stub.zig
  src/link/MachO/Symbol.zig
  src/link/MachO/Zld.zig
  src/link/tapi.zig
  src/link/tapi/Tokenizer.zig
  src/link/tapi/parse.zig
  src/link/tapi/parse/test.zig
  src/link/tapi/yaml.zig
Labels: os-macos, zig ld

#9229 zig ld: link Obj-C, link frameworks, improve linker's implementation
  CMakeLists.txt
  src/Compilation.zig
  src/link/MachO.zig
  src/link/MachO/Archive.zig
  src/link/MachO/DebugSymbols.zig
  src/link/MachO/Dylib.zig
  src/link/MachO/Object.zig
  src/link/MachO/Stub.zig
  src/link/MachO/Symbol.zig
  src/link/MachO/Zld.zig
  src/link/MachO/commands.zig
  src/link/tapi.zig
  src/link/tapi/parse.zig
  src/main.zig
Labels: os-macos, zig ld

#9179 Add support for linking against fat/universal dynamic libraries on macOS
  lib/std/elf.zig
  lib/std/macho.zig
  lib/std/mem.zig
  src/link/Elf.zig
  src/link/MachO/Dylib.zig
  src/link/MachO/Object.zig
Labels: os-macos, zig ld

#9236 zld: fix section mapping for Go specific sections
  src/link/MachO/Object.zig
  src/link/MachO/Zld.zig
Labels: os-macos, zig ld

#9245 std/fmt: add fmtDurationSigned
  lib/std/fmt.zig
Labels: standard library

#9242 zld: link against system libSystem when available
  src/link/MachO.zig
  src/link/MachO/Dylib.zig
  src/link/MachO/Symbol.zig
  src/link/MachO/Zld.zig
Labels: os-macos, zig ld

#9258 Shared Cache Locking
  doc/langref.html.in
  lib/std/fs.zig
  lib/std/fs/file.zig
  lib/std/os/windows.zig
  lib/std/os/windows/ntdll.zig
  src/Cache.zig
  src/Compilation.zig
Labels: breaking, stage2, standard library

#9266 zig ld can create dylibs now; remove system linker hack and any mention of ld64.lld from the codebase
  cmake/Findlld.cmake
  src/Compilation.zig
  src/codegen/llvm/bindings.zig
  src/link.zig
  src/link/MachO.zig
  src/link/MachO/Trie.zig
  src/link/MachO/Zld.zig
  src/main.zig
  src/zig_llvm.cpp
  src/zig_llvm.h
Labels: os-macos, zig ld

#9267 boot_services: allow custom MemoryTypes
  lib/std/os/uefi/tables/boot_services.zig
Labels: os-uefi

#9254 Add fat/universal archive support to zig ld
  src/link/MachO/Archive.zig
  src/link/MachO/Dylib.zig
  src/link/MachO/fat.zig
Labels: os-macos, zig ld
