Repository ziglang/zig, pull requests merged in 2021-03, with the labels that each got.

#8097 std: Swap arguments in Thread.spawn
  doc/langref.html.in
  lib/std/Thread.zig
  lib/std/Thread/AutoResetEvent.zig
  lib/std/Thread/Mutex.zig
  lib/std/Thread/ResetEvent.zig
  lib/std/Thread/StaticResetEvent.zig
  lib/std/atomic/queue.zig
  lib/std/atomic/stack.zig
  lib/std/event/loop.zig
  lib/std/fs/test.zig
  lib/std/net/test.zig
  lib/std/once.zig
  lib/std/os/test.zig
  src/ThreadPool.zig
Labels: breaking, standard library

#7974 std: Add std.fs.path.joinZ
  lib/std/fs/path.zig
Labels: standard library

#8007 std: Deprecate 'x'/'X'/'e'/'E' special cases for u8 slices
  lib/std/crypto/25519/curve25519.zig
  lib/std/crypto/25519/ed25519.zig
  lib/std/crypto/25519/edwards25519.zig
  lib/std/crypto/25519/ristretto255.zig
  lib/std/crypto/25519/scalar.zig
  lib/std/crypto/chacha20.zig
  lib/std/fmt.zig
  src/Cache.zig
  src/translate_c.zig
Labels: breaking, standard library

#8118 os/linux: fix IO_Uring.timeout
  lib/std/os/bits/linux.zig
  lib/std/os/linux/io_uring.zig
Labels: os-linux, standard library

#7741 stage2: add support for optionals in the LLVM backend
  src/astgen.zig
  src/codegen/llvm.zig
  src/codegen/llvm/bindings.zig
  src/link.zig
  src/link/Coff.zig
  src/link/Elf.zig
  src/link/MachO.zig
  src/link/Wasm.zig
  src/zir.zig
  src/zir_sema.zig
  test/stage2/llvm.zig
Labels: stage2

#7778 stage2: error set merging with tests
  src/astgen.zig
  src/zir_sema.zig
  test/stage2/test.zig
Labels: stage2

#8110 stage2: remove error number from error set map
  src/Module.zig
  src/value.zig
  src/zir_sema.zig
Labels: stage2

#8108 std: add io.Writer.writeStruct
  lib/std/io/writer.zig
Labels: standard library

#7763 std.elf: expose parsing decoupled from std.fs.File
  lib/std/build/emit_raw.zig
  lib/std/elf.zig
  src/test.zig
Labels: standard library

#7910 Stage2: astgen async stuff, implement var args functions
  src/Module.zig
  src/astgen.zig
  src/codegen/c.zig
  src/test.zig
  src/type.zig
  src/zir.zig
  src/zir_sema.zig
  test/stage2/cbe.zig
Labels: stage2

#8137 Implement fmtDuration using Formatter
  lib/std/fmt.zig
Labels: breaking, standard library

#8175 parser: fix parsing/rendering of a[b.. :c] slicing
  lib/std/zig/ast.zig
  lib/std/zig/parse.zig
  lib/std/zig/parser_test.zig
  lib/std/zig/render.zig
  src/astgen.zig
Labels: stage2

#8176 parser: disallow ptr modifiers on array types
  lib/std/zig/ast.zig
  lib/std/zig/parse.zig
  lib/std/zig/parser_test.zig
Labels: stage2

#7934 Stage2 cbe: optionals and errors
  lib/std/hash_map.zig
  src/Compilation.zig
  src/codegen.zig
  src/codegen/c.zig
  src/link/C.zig
  src/test.zig
  src/type.zig
  src/zir_sema.zig
  test/stage2/cbe.zig
Labels: backend-c, stage2

#8194 re-enable behavior/vector test for aarch64
  test/stage1/behavior/vector.zig
Labels: arch-arm64, backend-llvm

#7943 make std.c.getErrno() return same type as _errno() aka c_int
  lib/std/Thread.zig
  lib/std/c.zig
  lib/std/io/c_writer.zig
  lib/std/os.zig
Labels: proposal

#8225 macos: add missing x86_64 libc headers
  lib/libc/include/x86_64-macos-gnu/libproc.h
  lib/libc/include/x86_64-macos-gnu/net/route.h
  lib/libc/include/x86_64-macos-gnu/os/clock.h
  lib/libc/include/x86_64-macos-gnu/os/workgroup.h
  lib/libc/include/x86_64-macos-gnu/os/workgroup_base.h
  lib/libc/include/x86_64-macos-gnu/os/workgroup_interval.h
  lib/libc/include/x86_64-macos-gnu/os/workgroup_object.h
  lib/libc/include/x86_64-macos-gnu/os/workgroup_parallel.h
  lib/libc/include/x86_64-macos-gnu/sys/kern_control.h
  lib/libc/include/x86_64-macos-gnu/sys/proc_info.h
  lib/libc/include/x86_64-macos-gnu/sys/ucontext.h
  lib/libc/include/x86_64-macos-gnu/ucontext.h
Labels: arch-x86_64, os-macos

#8230 lld: handle error instead of abort
  src/link/MachO.zig
Labels: stage2, zig cc

#8231 macho: fix various linker flags
  src/clang_options_data.zig
  src/link/MachO.zig
  tools/update_clang_options.zig
Labels: stage2, zig cc

#8250 Support optional getaddrinfo arguments
  lib/std/c.zig
Labels: standard library

#8281 stage2+macho: refactor global offset table for incremental linker
  lib/std/macho.zig
  src/codegen.zig
  src/link/MachO.zig
  src/link/MachO/DebugSymbols.zig
  src/link/MachO/bind.zig
  src/link/MachO/imports.zig
Labels: arch-arm64, arch-x86_64, backend-self-hosted, os-macos, stage2

#8282 macho: upstream zld linker
  CMakeLists.txt
  lib/std/debug.zig
  lib/std/macho.zig
  src/codegen/aarch64.zig
  src/link/MachO.zig
  src/link/MachO/Archive.zig
  src/link/MachO/Object.zig
  src/link/MachO/Zld.zig
  src/main.zig
  test/standalone.zig
Labels: arch-arm64, arch-x86_64, os-macos, stage1, stage2

#8171 Add some enum utilities
  lib/std/bit_set.zig
  lib/std/enums.zig
  lib/std/meta/trait.zig
  lib/std/std.zig
Labels: standard library

#8265 azure: produce macos arm64 binaries
  CMakeLists.txt
  ci/azure/macos_arm64_script
  ci/azure/pipelines.yml
Labels: arch-arm64, os-macos

#8324 Fixed typo in std.os.windows.user32
  lib/std/os/windows/user32.zig
Labels: os-windows

#8329 std.build: make Builder.install_prefix non optional
  lib/std/build.zig
  lib/std/special/build_runner.zig
Labels: zig build system

#8354 std.os.uefi.tables.boot_services: implement locateDevicePath
  lib/std/os/uefi/tables/boot_services.zig
Labels: os-uefi, standard library

#8361 zig build: use ZIG_GLOBAL_CACHE_DIR
  src/introspect.zig
  src/main.zig
  src/stage1/all_types.hpp
Labels: zig build system
