Repository ziglang/zig, pull requests merged in 2021-04, with the labels that each got.

#8266 rework ZIR memory layout; overhaul source locations
  CMakeLists.txt
  lib/std/enums.zig
  lib/std/zig.zig
  lib/std/zig/ast.zig
  lib/std/zig/parse.zig
  lib/std/zig/render.zig
  lib/std/zig/string_literal.zig
  src/AstGen.zig
  src/Compilation.zig
  src/Module.zig
  src/RangeSet.zig
  src/Sema.zig
  src/astgen.zig
  src/codegen.zig
  src/codegen/c.zig
  src/codegen/llvm.zig
  src/codegen/wasm.zig
  src/ir.zig
  src/link/C.zig
  src/link/Coff.zig
  src/link/Elf.zig
  src/link/MachO.zig
  src/main.zig
  src/translate_c.zig
  src/type.zig
  src/type/Enum.zig
  src/type/Struct.zig
  src/type/Union.zig
  src/value.zig
  src/zir.zig
  src/zir_sema.zig
  test/stage2/cbe.zig
  test/stage2/test.zig
Labels: enhancement, stage2

#8409 test: fix io_uring timing test to skip on failure
  lib/std/os/linux/io_uring.zig
Labels: os-linux

#7754 put llvm_type for an fnframe in the correct addrspace
  src/stage1/analyze.cpp
Labels: stage1

#7792 std: Add Priority Dequeue
  lib/std/priority_dequeue.zig
  lib/std/priority_queue.zig
  lib/std/std.zig
Labels: standard library

#8422 Switch std.json to use an ordered hashmap
  lib/std/json.zig
  lib/std/json/test.zig
Labels: breaking, standard library

#8438 os/bits/linux: add IPv6 socket options
  lib/std/os/bits/linux.zig
Labels: os-linux, standard library

#8434 Fixed error types for GetSeekPosError
  lib/std/fs/file.zig
  lib/std/io/stream_source.zig
Labels: breaking, standard library

#8493 macos: add aarch64 (arm64) to downloads page
  ci/azure/macos_arm64_script
  ci/azure/pipelines.yml
  ci/srht/index.html
  ci/srht/index.json
  ci/srht/update_download_page
Labels: arch-arm64, os-macos

#8517 zld: fix symbol resolution from interdependent static archives
  src/link/MachO/Zld.zig
  test/standalone.zig
  test/standalone/link_interdependent_static_c_libs/a.c
  test/standalone/link_interdependent_static_c_libs/a.h
  test/standalone/link_interdependent_static_c_libs/b.c
  test/standalone/link_interdependent_static_c_libs/b.h
  test/standalone/link_interdependent_static_c_libs/build.zig
  test/standalone/link_interdependent_static_c_libs/main.zig
Labels: zig ld

#8548 linux: fix number of arguments for tgkill syscall
  lib/std/os/linux.zig
Labels: os-linux

#8572 std: Add process_vm_readv/writev wrappers
  lib/std/os/linux.zig
Labels: os-linux, standard library

#8558 std/crypto: use finer-grained error sets in function signatures
  lib/std/crypto.zig
  lib/std/crypto/25519/curve25519.zig
  lib/std/crypto/25519/ed25519.zig
  lib/std/crypto/25519/edwards25519.zig
  lib/std/crypto/25519/field.zig
  lib/std/crypto/25519/ristretto255.zig
  lib/std/crypto/25519/scalar.zig
  lib/std/crypto/25519/x25519.zig
  lib/std/crypto/aegis.zig
  lib/std/crypto/aes_gcm.zig
  lib/std/crypto/aes_ocb.zig
  lib/std/crypto/bcrypt.zig
  lib/std/crypto/chacha20.zig
  lib/std/crypto/error.zig
  lib/std/crypto/errors.zig
  lib/std/crypto/gimli.zig
  lib/std/crypto/isap.zig
  lib/std/crypto/pbkdf2.zig
  lib/std/crypto/salsa20.zig
Labels: standard library

#8565 std.atomic.Bool/Int.load should take const pointer to Self
  lib/std/atomic/bool.zig
  lib/std/atomic/int.zig
Labels: standard library

#8601 ci: drone disable debug test suite for aarch64
  build.zig
  ci/drone/drone.yml
  ci/drone/linux_script
  ci/drone/linux_script_base
  ci/drone/linux_script_build
  ci/drone/linux_script_finalize
  ci/drone/linux_script_test
Labels: arch-arm64, os-linux

#8638 std/build: change default install prefix to zig-out
  .gitignore
  lib/std/build.zig
  lib/std/special/build_runner.zig
Labels: breaking, zig build system

#8659 Doc: zig-cache/bin -> zig-out/bin
  doc/langref.html.in
Labels: docs

#8630 add doc in `Anonymous Struct Literal` section for special @"0" syntax.
  doc/langref.html.in
Labels: docs
