Repository ziglang/zig, pull requests merged in 2021-12, with the labels that each got.

#9910 dragonfly: port Thread.setname/getname
  lib/std/Thread.zig
  lib/std/c/dragonfly.zig
Labels: os-dragonfly

#10278 Add emit path options to emit args in build.zig
  lib/std/build.zig
Labels: breaking, zig build system

#10288 Add test executable builds to build.zig
  lib/std/build.zig
  lib/std/build/InstallRawStep.zig
Labels: zig build system

#10346 macho: handle -install_name option for dylibs/MachO
  lib/std/build.zig
  src/Compilation.zig
  src/link.zig
  src/link/MachO.zig
  src/main.zig
Labels: proposal, os-macos

#10331 Bcrypt pbkdf
  lib/std/crypto/bcrypt.zig
Labels: standard library
