Repository ziglang/zig, pull requests merged in 2021-10, with the labels that each got.

#9883 ci drone: enable more testsuite
  ci/drone/drone.yml
  ci/drone/linux_script_build
  ci/drone/linux_script_finalize
  ci/drone/linux_script_test
Labels: os-linux, arch-arm64

#9410 FileProtocol: add Reader, Writer, SeekableStream
  lib/std/os/uefi/protocols/file_protocol.zig
Labels: standard library, os-uefi

#10067 stage2 x86_64: move x86_64 codegen to arch/x86_64/CodeGen.zig
  src/arch/x86_64/CodeGen.zig
  src/codegen.zig
Labels: stage2, arch-x86_64, backend-self-hosted
