Repository ziglang/zig, pull requests merged in 2023-02, with the labels that each got.

#14511 two package hash breaking enhancements
  lib/std/fs/file.zig
  lib/std/tar.zig
  src/Package.zig
Labels: enhancement, breaking, zig build system

#14523 introduce Zig Object Notation and use it for the build manifest file (build.zig.zon)
  CMakeLists.txt
  lib/std/Build.zig
  lib/std/Build/OptionsStep.zig
  lib/std/array_hash_map.zig
  lib/std/zig.zig
  lib/std/zig/Ast.zig
  lib/std/zig/Parse.zig
  lib/std/zig/parse.zig
  lib/std/zig/parser_test.zig
  lib/std/zig/perf_test.zig
  src/Compilation.zig
  src/Manifest.zig
  src/Module.zig
  src/Package.zig
  src/main.zig
Labels: enhancement, breaking, zig build system

#14538 std.Build: support exposing and depending on zig modules
  lib/std/Build.zig
  lib/std/Build/CompileStep.zig
  lib/std/Build/OptionsStep.zig
  test/standalone/pkg_import/build.zig
Labels: enhancement, breaking, zig build system

#14582 zig fmt: additionally format .zon files
  src/main.zig
Labels: breaking, zig fmt

#14548 Some std.json fixes
  lib/std/json.zig
  lib/std/json/test.zig
Labels: standard library

#14571 move the cache system from compiler to std lib and start using it in the bulid system
  CMakeLists.txt
  build.zig
  lib/build_runner.zig
  lib/std/Build.zig
  lib/std/Build/Cache.zig
  lib/std/Build/Cache/DepTokenizer.zig
  lib/std/Build/CompileStep.zig
  lib/std/Build/ConfigHeaderStep.zig
  lib/std/Build/OptionsStep.zig
  lib/std/Build/RunStep.zig
  lib/std/Build/WriteFileStep.zig
  src/Compilation.zig
  src/Module.zig
  src/Package.zig
  src/glibc.zig
  src/link.zig
  src/link/Coff/lld.zig
  src/link/Elf.zig
  src/link/MachO.zig
  src/link/MachO/zld.zig
  src/link/Wasm.zig
  src/main.zig
  src/mingw.zig
  test/tests.zig
Labels: breaking, zig build system

#11906 [all linkers] fail hard on unsupported flags
  src/main.zig
Labels: breaking

#14680 Linker: -z<arg> should be equivalent to -z <arg>
  src/main.zig
Labels: linking

#14723 rename std.Build.InstallRawStep to ObjCopyStep
  lib/std/Build.zig
  lib/std/Build/CompileStep.zig
  lib/std/Build/InstallRawStep.zig
  lib/std/Build/ObjCopyStep.zig
  lib/std/Build/Step.zig
  test/standalone/install_raw_hex/build.zig
Labels: enhancement, breaking, zig build system
