Repository ziglang/zig, pull requests merged in 2023-09, with the labels that each got.

#17196 translate-c: Struct fields default to zero value
  src/translate_c.zig
  src/translate_c/ast.zig
  test/translate_c.zig
Labels: translate-c

#17180 cbe: support more symbol attributes
  lib/zig.h
  src/codegen/c.zig
Labels: os-macos, backend-c

#17266 Add embedded SVG favicon to reference doc templates
  doc/langref.html.in
  lib/docs/index.html
  src/autodoc/render_source.zig
Labels: enhancement, docs, autodoc

#17224 define `_WIN32_WINNT` for windows compilations based on target minver
  src/Compilation.zig
  src/mingw.zig
Labels: os-windows
