Repository ziglang/zig, pull requests merged in 2024-02, with the labels that each got.

#18778 Implement system package mode
  build.zig
  deps/aro/build/GenerateDef.zig
  lib/build_runner.zig
  lib/std/Build.zig
  lib/std/Build/Step.zig
  lib/std/Build/Step/Compile.zig
  lib/std/Build/Step/ConfigHeader.zig
  lib/std/Build/Step/Fmt.zig
  lib/std/Build/Step/ObjCopy.zig
  lib/std/Build/Step/Options.zig
  lib/std/Build/Step/Run.zig
  lib/std/Build/Step/TranslateC.zig
  lib/std/Build/Step/WriteFile.zig
  lib/std/Target/Query.zig
  lib/std/child_process.zig
  src/Compilation.zig
  src/Package/Fetch.zig
  src/Package/Manifest.zig
  src/main.zig
  test/src/Cases.zig
  test/tests.zig
Labels: breaking, zig build system

#18846 std.os.MAP: use a packed struct
  lib/std/Thread.zig
  lib/std/c.zig
  lib/std/c/darwin.zig
  lib/std/c/dragonfly.zig
  lib/std/c/emscripten.zig
  lib/std/c/freebsd.zig
  lib/std/c/haiku.zig
  lib/std/c/linux.zig
  lib/std/c/netbsd.zig
  lib/std/c/openbsd.zig
  lib/std/c/solaris.zig
  lib/std/crypto/tlcsprng.zig
  lib/std/debug.zig
  lib/std/dynamic_library.zig
  lib/std/heap/PageAllocator.zig
  lib/std/os.zig
  lib/std/os/emscripten.zig
  lib/std/os/linux.zig
  lib/std/os/linux/arm-eabi.zig
  lib/std/os/linux/arm64.zig
  lib/std/os/linux/io_uring.zig
  lib/std/os/linux/mips.zig
  lib/std/os/linux/mips64.zig
  lib/std/os/linux/powerpc.zig
  lib/std/os/linux/powerpc64.zig
  lib/std/os/linux/riscv64.zig
  lib/std/os/linux/sparc64.zig
  lib/std/os/linux/tls.zig
  lib/std/os/linux/x86.zig
  lib/std/os/linux/x86_64.zig
  lib/std/os/test.zig
Labels: breaking, standard library

#18712 std: make options a struct instance instead of a namespace
  CMakeLists.txt
  doc/langref.html.in
  lib/std/Build/Step/Compile.zig
  lib/std/Build/Step/Run.zig
  lib/std/builtin.zig
  lib/std/child_process.zig
  lib/std/debug.zig
  lib/std/event.zig
  lib/std/event/batch.zig
  lib/std/event/channel.zig
  lib/std/event/future.zig
  lib/std/event/group.zig
  lib/std/event/lock.zig
  lib/std/event/locked.zig
  lib/std/event/loop.zig
  lib/std/event/rwlock.zig
  lib/std/event/rwlocked.zig
  lib/std/event/wait_group.zig
  lib/std/fs.zig
  lib/std/fs/Dir.zig
  lib/std/fs/File.zig
  lib/std/fs/test.zig
  lib/std/fs/watch.zig
  lib/std/io.zig
  lib/std/log.zig
  lib/std/net.zig
  lib/std/net/test.zig
  lib/std/os.zig
  lib/std/os/windows.zig
  lib/std/pdb.zig
  lib/std/start.zig
  lib/std/std.zig
  lib/std/time.zig
  lib/std/zig/Server.zig
  lib/std/zig/system/linux.zig
  lib/test_runner.zig
  src/Builtin.zig
  src/Compilation.zig
  src/Compilation/Config.zig
  src/Module.zig
  src/Package/Module.zig
  src/main.zig
  test/cases/compile_errors/missing_main_fn_in_executable.zig
  test/cases/compile_errors/private_main_fn.zig
  test/compare_output.zig
  test/src/Cases.zig
  test/standalone/http.zig
  test/standalone/issue_7030.zig
  test/standalone/issue_9693/main.zig
  test/standalone/sigpipe/breakpipe.zig
Labels: breaking, standard library

#18886 some API work on std.c, std.os, std.os.wasi
  ci/aarch64-linux-debug.sh
  ci/aarch64-linux-release.sh
  ci/x86_64-linux-debug.sh
  ci/x86_64-linux-release.sh
  lib/std/c.zig
  lib/std/c/darwin.zig
  lib/std/c/dragonfly.zig
  lib/std/c/emscripten.zig
  lib/std/c/freebsd.zig
  lib/std/c/fuchsia.zig
  lib/std/c/haiku.zig
  lib/std/c/hermit.zig
  lib/std/c/linux.zig
  lib/std/c/minix.zig
  lib/std/c/netbsd.zig
  lib/std/c/openbsd.zig
  lib/std/c/solaris.zig
  lib/std/c/wasi.zig
  lib/std/c/windows.zig
  lib/std/child_process.zig
  lib/std/compress/deflate/deflate_fast.zig
  lib/std/dynamic_library.zig
  lib/std/fs/Dir.zig
  lib/std/fs/File.zig
  lib/std/fs/test.zig
  lib/std/os.zig
  lib/std/os/emscripten.zig
  lib/std/os/linux.zig
  lib/std/os/linux/arm-eabi.zig
  lib/std/os/linux/arm64.zig
  lib/std/os/linux/io_uring.zig
  lib/std/os/linux/mips.zig
  lib/std/os/linux/mips64.zig
  lib/std/os/linux/powerpc.zig
  lib/std/os/linux/powerpc64.zig
  lib/std/os/linux/riscv64.zig
  lib/std/os/linux/sparc64.zig
  lib/std/os/linux/test.zig
  lib/std/os/linux/x86.zig
  lib/std/os/linux/x86_64.zig
  lib/std/os/plan9.zig
  lib/std/os/test.zig
  lib/std/os/wasi.zig
  lib/std/std.zig
  lib/std/time.zig
  src/TypedValue.zig
  test/behavior/packed-struct.zig
Labels: breaking, standard library

#18910 std.os.termios: consolidate, correct, and complete API definitions
  lib/std/c.zig
  lib/std/c/darwin.zig
  lib/std/c/emscripten.zig
  lib/std/c/haiku.zig
  lib/std/c/linux.zig
  lib/std/c/netbsd.zig
  lib/std/c/openbsd.zig
  lib/std/c/solaris.zig
  lib/std/os.zig
  lib/std/os/emscripten.zig
  lib/std/os/linux.zig
Labels: breaking, standard library

#18952 std.os.windows: add error.UnrecognizedVolume
  lib/std/os.zig
  lib/std/os/windows.zig
  src/link.zig
Labels: breaking, standard library, os-windows

#18955 take std.http in a different direction
  lib/std/Uri.zig
  lib/std/array_list.zig
  lib/std/compress/zstandard.zig
  lib/std/compress/zstandard/decompress.zig
  lib/std/compress/zstandard/types.zig
  lib/std/http.zig
  lib/std/http/ChunkParser.zig
  lib/std/http/Client.zig
  lib/std/http/HeadParser.zig
  lib/std/http/HeaderIterator.zig
  lib/std/http/Headers.zig
  lib/std/http/Server.zig
  lib/std/http/protocol.zig
  lib/std/http/test.zig
  lib/std/io/Reader.zig
  lib/std/mem.zig
  lib/std/net.zig
  lib/std/net/test.zig
  lib/std/os.zig
  lib/std/os/linux/io_uring.zig
  lib/std/os/test.zig
  src/Package/Fetch.zig
  src/Package/Fetch/git.zig
  src/main.zig
  test/standalone.zig
  test/standalone/http.zig
Labels: breaking, standard library, release notes

#19064 std: map NETNAME_DELETED to error.ConnectionResetByPeer
  lib/std/http/test.zig
  lib/std/os.zig
  lib/std/os/windows.zig
  lib/std/zig/system.zig
Labels: breaking, standard library

#19017 change `addCSourceFiles` to use `LazyPath` instead `Dependency`
  lib/std/Build/Module.zig
  lib/std/Build/Step/Compile.zig
Labels: breaking, zig build system

#19128 std.tar: avoid dependency on file system
  lib/std/tar.zig
  lib/std/tar/test.zig
Labels: breaking, standard library
